{% extends 'back/base.html' %}
    {% block content %}
            
              <!-- Content Wrapper. Contains page content -->
              <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                  <div class="container-fluid">
                    <div class="row mb-2">
                      <div class="col-sm-6">
                      </div>
                      <div class="col-sm-6">         
                      </div>
                    </div>
                  </div><!-- /.container-fluid -->
                </section>
            
                <!-- Main content -->
                <section class="content">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-12">
                        <div class="card">
                         
                          <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
            
                        <div class="card">
                          <div class="card-header">  
                            <td><a class="btn btn-success btn-sm" href="{% url 'inputan' %}">
                              <i class="fas fa-trash">
                              </i>
                              + Tambah file
                          </a></td> 
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body">
                            <table id="example2" class="table table-bordered table-striped">
                              <thead>
                              <tr>
                                <th>No</th>
                                <th>User</th>
                                <th>Kategori File</th>
                                <th>Catatan</th>
                                <th>Tanggal Input</th>
                                <th data-field="actions">Setelan</th>
                              </tr>
                              </thead>
                              <tbody>
                                

                                {% for a in file %}
                              <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{a.name}}</td>
                                <td>{{a.kategory}}</td>
                                <td>{{a.body}}</td>
                                <td>{{a.date}}</td>
                                {%if a.image %}
                                <td><a class="btn btn-primary btn-sm" href="{{ a.image.url }}" Download="{{ a.image.url }}">
                                    <i class="fas fa-trash">
                                      Download
                                    </i>          
                                </a>
                                {%endif%}
                                <a onclick="return confirm('delete file?');" class="btn btn-danger btn-sm" href="{% url 'deleteFile' a.id %}">
                                  <i class="fas fa-trash">
                                    Delete
                                  </i>
                                  
                              </a></td>
                              </tr>
                              {% endfor %}
                              </tfoot>
                            </table>
                          </div>
                          <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                      </div>
                      <!-- /.col -->
                    </div>
                    <!-- /.row -->
                  </div>
                  <!-- /.container-fluid -->
                </section>
                <!-- /.content -->
              </div>
              <!-- /.content-wrapper -->
             
            
              <!-- Control Sidebar -->
              <aside class="control-sidebar control-sidebar-dark">
                <!-- Control sidebar content goes here -->
              </aside>
              <!-- /.control-sidebar -->
            </div>
            <!-- ./wrapper -->
            
      {% endblock content %}